.modal {
    display: block;
    position: relative;
    z-index: 1;
    left: 0;
    top: 20%;
    width: 200px;
    height: 100px;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}