nav {
  margin: 0;
  padding: 0;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--secondary);
  text-align: center;
  display: flex;
  gap: 25px;
  height: 75px;
  width: 100%;
  align-items: center;
  padding: 0 5px;
}

a {
}

@media (max-width: 650px) {
  .nav {
    justify-content: center;
  }
}

.link {
  color: var(--link-pending);
}

.active {
  border: 1px solid black;

  color: var(--link-active);
}
