.navbar {
  height: 29px;
  position: fixed;
  bottom: 0;
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: var(--secondary);
}

@media (max-width: 660px) {
  .navbar {
    width: 92%;
  }
}

.active {
  /* a change svg icon color with css  */
  filter: invert(44%) sepia(65%) saturate(629%) hue-rotate(158deg) brightness(87%)
    contrast(89%);
}

.button-language {
  padding: 5px 15px;
}

.navbar-group {
  display: flex;
  gap: 25px;
}

.icon:hover {
  opacity: 0.8;
}
