nav {
  margin: 0;
  padding: 0;
}

.nav {
  height: 30px;
  width: 98vw;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: var(--secondary);
  text-align: center;
}

@media (max-width: 650px) {
}

.active {
  border: 1px solid var(--typography-secondary);
}

.button-language {
  padding: 5px 15px;
}

.group {
  display: flex;
  gap: 25px;
}
