.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.animation-container {
    align-self: center;
    justify-self: center;
    padding: 30vh 50vw;
}
@media (max-width: 660px) {
    .animation-container {
        padding: 45vh 40vw;
    }
}

.icon {
    /*  change svg format icon color with css  */
    filter: invert(44%) sepia(65%) saturate(629%) hue-rotate(158deg)
        brightness(87%) contrast(89%);
}
