.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    gap: 10px;
}

.image-wrapper {
    z-index: 0;
    text-align: center;
    color: white;
}

.image-container {
    position: relative;
    display: inline-block;
    width: 258px;
    height: 258px;
    min-height: 258px;
}

.details-avatar {   
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    padding: 4px;
    background: var(--secondary);
    transition: opacity 0.3s ease-in-out;
}

.loader-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.loader-spinner {
    width: 40px;
    height: 40px;
    animation: rotation 1s infinite linear;
    filter: invert(44%) sepia(65%) saturate(629%) hue-rotate(158deg)
        brightness(87%) contrast(89%);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.avatar-description {
    font-size: 12px;
    color: var(--secondary);
    font-weight: bold;
}

.details-avatar:hover {
    filter: blur(4px);
}

.description-wrapper {
    text-justify: distribute;
    align-items: center;
}

.tag {
    display: flex;
    align-items: center;
    background: var(--secondary);
    color: var(--typography-secondary);
    border-radius: 12px;
    padding: 4px;
    font-size: 10px;
    height: 13px;
}
.tag:hover {
    opacity: 0.8;
}

.tag-active {
    display: flex;
    align-items: center;
    background: var(--secondary);
    color: var(--typography-active);
    border-radius: 12px;
    padding: 4px;
    font-size: 10px;
    height: 13px;
    background: var(--link-active);
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2px;
}

.close {
    padding: 10px;
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vw;
    max-width: 680px;
    margin: auto;
    padding-left: 10px;
    justify-self: center;
    height: 100vh;
    
}
