.main-wrapper {
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    gap: 10px;
}

.image-wrapper {
    z-index: 0;
    text-align: center;
    color: white;
}

.details-avatar {   
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
    align-self: center;
    object-fit: fill;
    cursor: pointer;
    padding: 4px;
    background: var(--secondary);
}

.avatar-description {
    font-size: 12px;
    color: var(--secondary);
    font-weight: bold;
}

.details-avatar:hover {
    filter: blur(4px);
}

.description-wrapper {
    text-justify: distribute;
    align-items: center;
}

.tag {
    display: flex;
    align-items: center;
    background: var(--secondary);
    color: var(--typography-secondary);
    border-radius: 12px;
    padding: 4px;
    font-size: 10px;
    height: 13px;
}
.tag:hover {
    opacity: 0.8;
}

.tag-active {
    display: flex;
    align-items: center;
    background: var(--secondary);
    color: var(--typography-active);
    border-radius: 12px;
    padding: 4px;
    font-size: 10px;
    height: 13px;
    background: var(--link-active);
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2px;
}

.close {
    padding: 10px;
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vw;
    max-width: 680px;
    margin: auto;
    padding-left: 10px;
    justify-self: center;
    height: 100vh;
    padding: 25vh 0;
}
