.main-wrapper {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.details-avatar {
  padding: 25px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  align-self: center;
  object-fit: fill;
}

.details-description {
  text-justify: distribute;
  align-items: center;
}
