.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  align-content: center;
}

.icon {
  background: var(--typography-primary);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 70px;
  margin: 35px 0;
}

.header {
  padding: 20px 0;
}

.logo-text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  color: var(--typography-headers);
  text-decoration: none;
}
