.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  max-width: 700px;
  padding: 0px 10px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.icon {
  background: var(--typography-primary);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  padding: 70px;
  margin: 35px 0;
}

.header {
  padding: 20px 0;
  display: flex;
  gap: 15px;
}

.logo-text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  color: var(--typography-headers);
  text-decoration: none;
}
