.pageWrapper {
    padding: 55px 0px 35px 0px;
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;

    @media (max-width: 660px) {
        padding: 0;
    }
}
