html[data-theme='dark'] {
    --primary: #1f1d2b;
    --secondary: #efba54;
    --typography-primary: #787779;
    --typography-secondary: #000000;
    --typography-headers: #ffffff;
    --typography-active: #000000;
    --link-active: #1f83bb;
}

html[data-theme='light'] {
    --primary: #ffffff;
    --secondary: #d1cece;
    --typography-primary: #0f0e0f;
    --typography-secondary: #0c0c0c;
    --typography-headers: #000000;
    --typography-active: #ffffff;
    --link-active: #0a0a0a;
}
