.tag {
    display: flex;
    align-items: center;
    background: var(--secondary);
    border-radius: 12px;
    padding: 4px;
    height: 13px;
}

.tag:hover {
    opacity: 0.8;
}

.tag-active {
    display: flex;
    align-items: center;
    background: var(--link-active);
    border-radius: 12px;
    padding: 4px;
    height: 13px;
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2px;
}


