.header {
  background: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media (max-width: 660px) {
  .header {
    display: none;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo-image {
  height: 30px;
  width: 30px;
}

.logo-text {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  color: var(--typography-secondary);
  text-decoration: none;
}
