.main-wrapper {
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  max-width: 850px;

  overflow-y: scroll;
  padding-top: 20px;
  padding-bottom: 65px;
}

.search-header {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
