.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 97vw;
  max-height: 750px;
  padding-bottom: 50px;
  overflow-y: scroll;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
}

.list-wrapper:first-child {
  padding-top: 0;
}

.list-item {
  padding: 10px 0;
  padding-left: 5px;
}
