.list-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-width: 680px;
    margin: 0 auto;
    
}

.loader-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vw;
    max-width: 680px;
    margin: auto;
    padding-left: 10px;
    justify-self: center;
    height: 100vh;
    padding: 40vh 0;
}

@media (max-width: 660px) {
    .list-header {
        padding-top: 20px;
    }
}

.list-item {
    padding: 10px 0;
    padding-left: 5px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.list-item:hover {
    background-color: var(--secondary);
    color: var(--typography-secondary);
}

.link:hover {
    background: var(--link-active);
}

.tag {
    display: flex;
    align-items: center;
    background: var(--secondary);
    color: var(--typography-secondary);
    border-radius: 12px;
    padding: 6px;
    font-size: 10px;
    height: 13px;
}

.tag:hover {
    background: var(--link-active);
    color: var(--typography-active);
}

.tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 2px;
    max-width: 400px;
}
@media (max-width: 660px) {
    .tags-wrapper {
        max-width: 250px;
    }
}
