.main {
    padding: 25px 0px 65px 0px;
    /* z-index: 0; */
    overflow: hidden;
}

@media (max-width: 1365px) {
    /* .main {
        min-height: 90vh;
        overflow: hidden;
    } */
}
@media (max-width: 660px) {
    /* .main {
        padding: 0 10px;
        margin-bottom: -15px;
    } */
}
